body {
    font-family: 'Trebuchet MS';
    background-image: url(https://media.istockphoto.com/photos/green-poker-table-background-picture-id643199720?k=20&m=643199720&s=612x612&w=0&h=AOhp_VsI1JOuwDc82hvpHaeSX0UcN3BLIjKIk4N61n0=);
    background-size: cover;
    font-weight: bolder;
    color: white;
}

#play {
    font-style: italic;
}

button {
    font-weight: bolder;
    padding-top: 10px;
    border: none;
    border-radius: 5px;
    background: rgb(255, 183, 0);
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(5, 95, 5);
    padding-left: 20px;
    padding-right: 20px;
    font-size: medium;
}